/* Toastr custom styles */
.toast-top-right {
    top: 8rem;
    right: 1rem;
  }
  
  .toast {
    background-color: #158AB1; /* Custom blue background */
    color: white; /* White text */
    border-radius: 10px; /* Rounded corners */
    padding: 12px 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
  }
  
  .toast-title {
    font-weight: bold;
    color: white;
  }
  
  .toast-message {
    color: white;
    padding: 10px;
  }
  
  .toast-close-button {
    color: white;
  }
  
  .toast-progress {
    background-color: #fff; /* White progress bar */
  }
  
  /* Set position to the top-right */
  #toast-container > .toast-top-right {
    top: 25px;
    right: 20px;
    border-radius: 2;
    
  }
  
  /* Additional padding and margin adjustments */
  .toast-success {
    background-color: #158AB1; /* Success green */
  }
  
  .toast-error {
    background-color: #dc3545; /* Error red */
  }
  
  .toast-info {
    background-color: #158AB1; /* Info blue */  
  }
  
  .toast-warning {
    background-color: #ffc107; /* Warning yellow */
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

